@media screen and (min-width: 100px) and (max-width: 480px) {
    .container {
        width: 70vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 5vh  ;
    }
    header {
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }
    .l_1,.l_2,.l_3,.l_4 {
        width: 68vw;
        height: 3vh;
        margin-bottom: 1vh;
        border-radius: 5px;
    }
    .banner {
        width: 68vw;
        height: 20vh;
    }
    .mobile {
        width: 68vw;
    }
    .section_1,.section_2 {
        flex-direction: column;
    }
    .article_1,.article_2,.article_3,.article_4 {
        width: 68vw;
        height: 10vh;
    }
    footer {
        width: 68vw;
        height: 5vh;
    }
    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}